/* Bootstrap Breakpoints
xs: 0-575px
sm: 576px-767px
md: 768px-991px
lg: 992px-1199px
xl: 1200px-1399px
xxl: 1400px+ */

/* Extra Small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
    .container {
        width: 90%;
    }

    .nav-content {
        flex-direction: column;
    }

    .nav-content h1 {
        width: 100%;
        text-align: center;
    }

    .nav-content .navbar-list {
        display: none;
        width: 100%;
        text-align: center;
    }

    .home {
        height: auto;
    }

    .home .container > * {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }

    .home-content {
        padding: 40px 5px;
        margin-top: 60px;
    }

    .home-content-left {
        width: 100%;
        text-align: center;
        margin-top: 2rem;
    }

    .container .home-content .home-content-left h2 {
        width: 100%;
        font-size: 40px;
        margin-inline: auto;
    }

    .home-content-left p {
        width: 100%;
    }

    .home-btns {
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .home-img {
        width: 90%;
        margin-left: 0;
    }

    .chefs-content {
        flex-direction: column;
    }

    .chefs-item {
        width: 100%;
        margin-block: 1.5rem;
    }

    .gallery {
        height: fit-content;
    }

    .gallery-content {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    .gallery .container {
        width: 90%;
    }

    .gallery-item {
        width: 100%;
    }

    .gallery-item.item0 {
        order: 1;
    }
    .gallery-item.item1 {
        order: 5;
    }
    .gallery-item.item2 {
        order: 2;
    }
    .gallery-item.item3 {
        order: 3;
    }
    .gallery-item.item4 {
        order: 6;
    }
    .gallery-item.item5 {
        order: 7;
    }
    .gallery-item.item6 {
        order: 4;
    }

    .contact-items {
        flex-direction: column;
    }

    .contact-items-item {
        width: 100%;
    }

    .footer-content {
        flex-direction: column;
        height: auto;
    }

    .footer-left, .footer-center, .footer-right {
        width: 100%;
        margin-bottom: 2rem;
    }
}

/* Small devices (landscape phones, 576px to 767px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .container {
        width: 85%;
    }

    .home-content-left {
        width: 90%;
    }

    .home-img {
        width: 70%;
    }

    .chefs-content {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .chefs-item {
        width: calc(50% - 1rem);
        margin-block: 1rem;
    }

    .gallery-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1.25rem;
        height: 95rem;
    }

    .gallery .container {
        width: 90%;
    }

    .gallery-item {
        width: 46%;
    }

    .gallery-item.item0 {
        order: 1;
    }
    .gallery-item.item1 {
        order: 5;
    }
    .gallery-item.item2 {
        order: 2;
    }
    .gallery-item.item3 {
        order: 3;
    }
    .gallery-item.item4 {
        order: 6;
    }
    .gallery-item.item5 {
        order: 7;
    }
    .gallery-item.item6 {
        order: 4;
    }

    .contact-items {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .contact-items-item {
        width: calc(50% - 1rem);
    }
}

/* Medium devices (tablets, 768px to 991px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .container {
        width: 80%;
    }

    .nav-content .navbar-list {
        display: flex;
    }

    .home-content {
        flex-direction: row;
    }

    .home-content-left {
        width: 60%;
    }

    .home-img {
        width: 40%;
    }

    .chefs-item {
        width: calc(50% - 1rem);
    }
    .chefs-item-img::after{
    content: "";
    display: block;
    position: absolute;
    background-image: url(../images/team-shape.svg);
    background-repeat: repeat-x;
    z-index: 2;
    width: 100%;
    height: 40px;
    bottom: 0;
    left: 0;
    border: none;
    outline: none;
}
    .gallery-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1.25rem;
        height: 845px;
    }

    .gallery .container {
        width: 80%;
    }

    .gallery-item {
        width: 33.3%;
    }

    .gallery-item.item0 {
        order: 1;
    }
    .gallery-item.item1 {
        order: 3;
    }
    .gallery-item.item2 {
        order: 5;
    }
    .gallery-item.item3 {
        order: 2;
    }
    .gallery-item.item4 {
        order: 6;
    }
    .gallery-item.item5 {
        order: 7;
    }
    .gallery-item.item6 {
        order: 4;
    }
    .footer-left h1{
        font-size: 24px;
        padding-left: 25px;
    }
    .footer-right-item a{
        display: inline-block;
    }
    .footer-right-item span{
        width: 70%;
    }
}

/* Large devices (desktops, 992px to 1199px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .container {
        width: 75%;
    }

    .home-content-left {
        width: 55%;
    }

    .home-img {
        width: 45%;
    }

    .chefs-item {
        width: calc(33.333% - 1rem);
    }

    .gallery-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1.25rem;
        height: 1000px;
    }

    .gallery .container {
        width: 80%;
    }

    .gallery-item {
        width: 30%;
    }

    .gallery-item.item0 {
        order: 1;
    }
    .gallery-item.item1 {
        order: 3;
    }
    .gallery-item.item2 {
        order: 5;
    }
    .gallery-item.item3 {
        order: 2;
    }
    .gallery-item.item4 {
        order: 6;
    }
    .gallery-item.item5 {
        order: 7;
    }
    .gallery-item.item6 {
        order: 4;
    }
    .footer-left h1{
        font-size: 24px;
        padding-left: 25px;
    }
    .footer-right-item a{
        display: inline-block;
    }
    .footer-right-item span{
        width: 70%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        width: 70%;
    }

    .home-content {
        padding: 100px 5px;
    }

    .home-content-left {
        width: 50%;
        margin-top: 6.25rem;
    }

    .home-img {
        width: 40%;
        margin-left: 50px;
    }

    .chefs .container {
        width: 80%;
    }

    .gallery-content {
        height: 1265px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 10px;
    }

    .gallery-item {
        width: 30%;
    }

    .gallery-item.item0 {
        order: 1;
    }
    .gallery-item.item1 {
        order: 3;
    }
    .gallery-item.item2 {
        order: 5;
    }
    .gallery-item.item3 {
        order: 2;
    }
    .gallery-item.item4 {
        order: 6;
    }
    .gallery-item.item5 {
        order: 7;
    }
    .gallery-item.item6 {
        order: 4;
    }

    .gallery-overlay p {
        font-size: 14px;
        width: 80%;
        margin: 0 auto;
    }
     .footer-left h1{
        font-size: 32px;
        padding-left: 40px;
    }
    .footer-right-item a{
        display: inline-block;
    }
    .footer-right-item span{
        width: 70%;
    }
    .footer-content {
        flex-direction: row;
        height: fit-content;
    }

    .footer-left {
        width: 25%;
    }

    .footer-center {
        width: 49%;
    }

    .footer-right {
        width: 25%;
    }
}